# Food Delivery Data Analysis

Hackathon Submission Notebook

## Load Libraries

In [ ]:

import pandas as pd
import sqlite3

## Load Datasets

In [ ]:

orders = pd.read_csv('data/orders.csv')
users = pd.read_json('data/users.json')

conn = sqlite3.connect(':memory:')
with open('data/restaurants.sql','r') as f:
    conn.executescript(f.read())
restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

## Merge Datasets

In [ ]:

merged = orders.merge(users, on='user_id', how='left')                .merge(restaurants, on='restaurant_id', how='left')
merged.head()

## Save Final Dataset

In [ ]:

merged.to_csv('outputs/final_food_delivery_dataset.csv', index=False)

## Sample Analysis

In [ ]:

merged.groupby('membership')['total_amount'].mean()